<div class="card text-white text-center" style="background: #0A5C87;">
  <div class="card-header">
    <h2>Lista de Produção</h2>
  </div>
</div>

<div class="container mt-5">
  
  <div class="row">
    
    <div class="form-group col-md-8">
      <div class="input-group mb-3">
        <input  (keyup) = "filtrarItem($event.target.value)" type="text" class="form-control" placeholder="Digite o tema, disciplina, etapa ou código da disciplina" aria-label="Recipient's username" aria-describedby="basic-addon2">

      </div>
    </div>

    <div class="col-md-1 offset-3">
      <button [routerLink]="['']" class="btn btn-primary">Voltar</button>
      </div>  
    </div>
    <div class="row">
      <table class="table table-striped" style="font-size: 13px;">
        <thead>
          <tr>
            <th scope="col">Tema</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Etapa Produção</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <div *ngIf="!dadosFiltrados.length" class="alert alert-danger mt-2">Ops! Dados não localizados</div>
          <tr *ngFor="let item of dadosFiltrados">
            <td>{{item.tema?.nomeTema}}</td>
            <td>{{item.disciplina?.nomeDisciplina}}</td>
            <td>{{item.etapaProducao?.nomeEtapa}}</td>
            <td>
              <!--Botao Modal-->
              <div class="btn-group">
                
                <button tooltip= "Editar" class="btn btn-outline-primary btn-sm" data-toggle="modal" (click)="getInformacaoModal(item.id)"
                data-target="#exampleModal"><i class="fas fa-pen"></i></button>
                
                <!-- <button tooltip="Detalhes" ype="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" (click)="getInformacaoModal(item.id)"
                data-target="#exampleModal" data-whatever="@mdo"><i class="fas fa-search"></i></button> -->

                <button tooltip="Excluir" ype="button" class="btn btn-outline-danger btn-sm" (click)="excluirProducao(item.id, item.disciplina.nomeDisciplina)"> <i class="fas fa-trash-alt"></i></button>
                
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  
  <!--inicio do modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Produção</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span> &times;</span>
        </button>
        
      </div>
      <div class="modal-body">
        
        <form>
          
          <div class="form-group">
            <input type="text" class="form-control" id="disciplina" readonly="true">
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control" id="tema" readonly="true">
          </div>
          
          
          <div class="input-group mb-3">
            <input #nConteudista [value]="nomeProfessorTeste" type="text" class="form-control" id="conteudista" aria-describedby="basic-addon2" readonly="true">
            
            <div class="input-group-append">
              <span type="button" class="input-group-text btn btn-secondary" id="basic-addon2" data-toggle="modal" data-target="#ModalBusca"><i class="fas fa-sync-alt"></i></span>
              
            </div>
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control" id="area" readonly="true">
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control" id="subArea" readonly="true">
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control" id="tipoProducao" readonly="true">
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control" id="produto" readonly="true">
          </div>
          
          <div class="form-group">
            <select #idEtapa class="form-control" id="sctEtapa">
              
              <option *ngFor="let item of etapa" value={{item.id}}>{{item.nomeEtapa}}</option>
            </select>
          </div>
          
          
          <!--data picker -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="atualizaProducao(idEtapa.value)">Salvar</button>
        
      </div>
      
    </div>
  </div>
</div>
<!--fim do modal-->

<!-- Inicio Modal Professor -->


<!-- Modal -->
<div class="modal fade" id="ModalBusca" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Selecione o professor
        <input  [value]="nomeProfessorTeste" type="text" class="form-control" id="prof" 
        placeholder="Digite o nome do professor:" (keyup)="filtraProfessor()">  <!-- [value]="nomeConteudista" -->
        <div *ngIf="filtroConteudista">
          <table id="tbprof" class="table" *ngFor="let item of filtroConteudista">
            <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-md-10">{{item.nomeConteudista}}
                    </div>
                    <div class="col-md-2">
                      <input id ="{{item.id}}" type="radio" name="teste">
                    </div>
                  </div>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" (click)="selectProf()" data-dismiss="modal">Selecionar</button>
      </div>
    </div>
  </div>
</div>