<div class="card text-white text-center" style="background: #0A5C87;">
    <div class="card-header">
      <h2>Menu Produção</h2>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 offset-2">
        <div class="card">
          <h5 class="card-header" style="background-color: #0A5C87; color:#FFF">Produção</h5>
          <div class="card-body">
            <h5 class="card-title">Cadastrar Produção</h5>
            
            <a [routerLink]="['/producao']" routerLinkActive="router-link-active"  class="btn btn-primary">Entrar</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
          <div class="card">
            <h5 class="card-header" style="background-color: #0A5C87; color:#FFF">Lista</h5>
            <div class="card-body">
              <h5 class="card-title">Lista Produção</h5>
              <a [routerLink]="['/listaProducao']" routerLinkActive="router-link-active"  class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>

    </div>
  </div>