<div class="card text-white text-center" style="background: #0A5C87;">
  <div class="card-header">
    <h2>Cadastrar Produção <a href="index.html" class="btn btn-primary l-4">Voltar</a> </h2>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <form>

        <!--[DISCPLINA]  -->
        <div class="form-group row">
          <select class=" form-control" id="disciplina">
            <option>ESCOLHA UMA DISCIPLINA</option>
            <option *ngFor="let item of disciplinas" value={{item.id}}>{{item.nomeDisciplina + "(" + item.codigoDisciplina + ")"}}
            </option>
          </select>
        </div>
        <!-- fim [DISCIPLINA] -->

        <!--[TEMA]  -->
        <div class="form-group row">
          <select class="form-control" id="tema">
              <option>ESCOLHA UM TEMA</option>
            <option *ngFor="let item of temas" value={{item.id}}>{{item.nomeTema}} </option>
          </select>
        </div>
        <!-- fim [TEMA] -->

        <!--[CONTEUDISTA]  -->
        <div class="form-group row">
          <select class="form-control" id="conteudista">
            <option *ngFor="let item of conteudistas" value={{item.id}}>{{item.nomeConteudista}}
            </option>
          </select>
        </div>
      </form>
    </div>
    <!-- fim [CONTEUDISTA] -->

    <!-- [ÁREA] -->
    <div class="col-4">
      <div class="form-group row  pl-0">
        <select class="form-control" id="area">
            <option>ESCOLHA UMA ÁREA</option>
          <option *ngFor="let item of areas" value={{item.id}}>{{item.nomeArea}}</option>
        </select>
      </div>
    </div>
    <!-- fim [ÁREA] -->

    <!-- [SUBÁREA] -->
    <div class="col-4">
      <div class="form-group row  pl-3">
        <select class=" form-control" id="subArea">
            <option>ESCOLHA UMA SUB ÁREA</option>
          <option *ngFor="let item of subAreas" value={{item.id}}>{{item.nomeSubArea}}</option>
        </select>
      </div>
    </div>
    <!-- fim [SUBÁREA] -->

    <!-- [TIPO DE PRODUÇÃO] -->
    <div class="col-4">
      <form>
        <div class="form-group row  pl-3">
          <select class=" form-control" id="producao">
            <option *ngFor="let item of producoes" value={{item.id}}>{{item.nomeTipoProducao}}
            </option>
          </select>
        </div>
      </form>
    </div>
    <!-- fim [TIPO DE PRODUÇÃO] -->

    <!-- [PRODUTO] -->
    <div class="col-4">
      <form>
        <div class="form-group row  pl-0">
          <select class="form-control" id="produto">
            <option *ngFor="let item of produtos" value={{item.id}}>{{item.nomeProduto}}</option>
          </select>
        </div>
      </form>
    </div>
    <!-- fim [PRODUTO] -->

    <!--  [ETAPA] -->
    <div class="col-4">
      <form>
        <div class="form-group row  pl-3">
          <select class=" form-control" id="etapa">
            <option>ESCOLHA UMA OPÇÃO</option>
            <option *ngFor="let item of etapasProducoes" value={{item.id}}>{{item.nomeEtapa}}
            </option>

          </select>
        </div>
      </form>
    </div>
    <!-- fim [ETAPA] -->

    <!--data picker -->
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text" placeholder="Data" [bsConfig]="bsConfig" [bsValue]="bsValue" class="form-control" bsDatepicker>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
      title="Tooltip na parte superior" (click)="incluir()">
      <span class="fas fa-save fa-2x"> </span>
    </button>
  </div>