<div class="card text-white text-center mb-5" style="background: #0A5C87;">
  <div class="card-header">
    <h2>Cadastrar Produção</h2>
  </div>
</div>





<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <form>
        <!--[DISCPLINA]  -->
        <div class="form-group row">
          <select class=" form-control" id="disciplina">
            <option disabled value="">ESCOLHA UMA DISCIPLINA</option>
            <option *ngFor="let item of disciplinas" value={{item.id}}>
              {{item.nomeDisciplina + " - " + item.codigoDisciplina }}
            </option>
          </select>
        </div>
        <!-- fim [DISCIPLINA] -->

        <!--[TEMA]  -->
        <div class="form-group row">
          <select class="form-control" id="tema">
            <option disabled value="">ESCOLHA UM TEMA</option>
            <option *ngFor="let item of temas" value={{item.id}}>{{item.nomeTema}} </option>
          </select>
        </div>
        <!-- fim [TEMA] -->

        <!--[CONTEUDISTA]  -->
        <div class="form-group row">
          <select class="form-control" id="conteudista">
            <option value="4">ESCOLHA UM CONTEUDISTA</option>
            <option *ngFor="let item of conteudistas" value={{item.id}}>{{item.nomeConteudista}}
            </option>
          </select>
        </div>
      </form>
    </div>
    <!-- fim [CONTEUDISTA] -->

    <!-- [ÁREA] -->
    <div class="col-4">
      <div class="form-group row  pl-0">
        <select class="form-control" id="area">
          <option disabled value="">ESCOLHA UMA ÁREA</option>
          <option *ngFor="let item of areas" value={{item.id}}>{{item.nomeArea}}</option>
        </select>
      </div>
    </div>
    <!-- fim [ÁREA] -->

    <!-- [SUBÁREA] -->
    <div class="col-4">
      <div class="form-group row  pl-3">
        <select class=" form-control" id="subArea">
          <option disabled value="">ESCOLHA UMA SUB ÁREA</option>
          <option *ngFor="let item of subAreas" value={{item.id}}>{{item.nomeSubArea}}</option>
        </select>
      </div>
    </div>
    <!-- fim [SUBÁREA] -->

    <!-- [TIPO DE PRODUÇÃO] -->
    <div class="col-4">
      <form>
        <div class="form-group row  pl-3">
          <select class=" form-control" id="producao">
            <option disabled value="">ESCOLHA UMA PRODUÇÃO</option>
            <option *ngFor="let item of producoes" value={{item.id}}>{{item.nomeTipoProducao}}
            </option>
          </select>
        </div>
      </form>
    </div>
    <!-- fim [TIPO DE PRODUÇÃO] -->

    <!-- [PRODUTO] -->
    <div class="col-4">
      <form>
        <div class="form-group row  pl-0">
          <select class="form-control" id="produto">
            <option disabled value="">ESCOLHA UM PRODUTO</option>
            <option *ngFor="let item of produtos" value={{item.id}}>{{item.nomeProduto}}</option>
          </select>
        </div>
      </form>
    </div>
    <!-- fim [PRODUTO] -->

    <!--  [ETAPA] -->
    <div class="col-4">
      <form>
        <div class="form-group row  pl-3">

          <!-- <select class=" form-control" id="etapa">
            <option disabled value="">ESCOLHA UMA OPÇÃO</option>
            <option *ngFor="let item of etapasProducoes" value={{item.id}}>{{item.nomeEtapa}}
            </option>
          </select> -->

          <div class="form-group">
            <input type="text" class="form-control" id="etapa1" readonly="true" placeholder="NÃO INICIADA">
            
          </div>   

        </div>
      </form>
    </div>
    <!-- fim [ETAPA] -->


    <div class="col-md-4 form-group">
      <button [routerLink]="['/listaProducao']" class="btn btn-primary" style="margin-left:5%;"><i
          class="fas fa-list"></i> Lista</button>
      <button [routerLink]="['']" class="btn btn-primary" style="margin-left:5%;"><i class="fas fa-arrow-left"></i>
        Voltar</button>
      <button type="button" class="btn btn-primary" style="margin-left:5%;" data-toggle="tooltip" data-placement="top"
        title="salvar" (click)="incluir()">
        <span class="fas fa-save fa-1x"></span> Incluir
      </button>

    </div>

  </div>